.Slider {
    --halfHandleWidth: calc(var(--handleWidth) / 2);
    --halfHandleHeight: calc(var(--handleHeight) / 2);

    width: var(--fixedWidth);
    height: min-content;
    position: relative;
}

.Slider__trackDefault {
    height: 18px;
    border-radius: 9px;
    background: rgb(75, 159, 231);
}

.Slider__handle {
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: move 9000ms linear infinite;
}

@keyframes move {
    0%  { left: 0%; }
    50%  { left: 100%; }
    100%  { left: 0%; }
}
