.Slider {
    --halfHandleWidth: calc(var(--handleWidth) / 2);
    --halfHandleHeight: calc(var(--handleHeight) / 2);

    padding: var(--halfHandleHeight) var(--halfHandleWidth);
    width: var(--fixedWidth);
    position: relative;
}

.Slider__trackDefault {
    height: 18px;
    border-radius: 9px;
    background: rgb(75, 159, 231);
}

.Slider__handle {
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: move 9000ms linear infinite;
}

@keyframes move {
    0% {
        left: calc(0% + var(--halfHandleWidth));
    }
    50% {
        left: calc(100% - var(--halfHandleWidth));
    }
    100% {
        left: calc(0% + var(--halfHandleWidth));
    }
}
