.LiquidGlassPiece {
    position: relative;

    width: var(--width);
    height: var(--height);
    box-sizing: border-box;

    border-radius: var(--borderRadius);
}

.LiquidGlassPiece-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: var(--borderRadius);
}

.LiquidGlassPiece__lighing {
    overflow: hidden;
}

.LiquidGlassPiece__lighing__light {
    box-shadow: inset
        var(--inset-light-offset-x, calc(var(--zRadius)))
        var(--inset-light-offset-y, calc(var(--zRadius)))
        var(--inset-light-blur, var(--zRadius))
        var(--inset-light-thickness, 0px)
        var(--inset-light-color, rgb(255, 255, 255, .4))
    ;
}
.LiquidGlassPiece__lighing__shadow {
    box-shadow: inset
        var(--inset-shadow-offset-x, 0)
        var(--inset-shadow-offset-y, 0)
        var(--inset-shadow-blur, var(--zRadius))
        var(--inset-shadow-thickness, 1px)
        var(--inset-shadow-color, rgb(0, 0, 0, .2))
    ;
}

.LiquidGlassPiece__filter {
    overflow: hidden;

    backdrop-filter:
        var(--filter)
        blur(var(--blur, 1px))
        saturate(var(--saturation, 1.2))
        contrast(var(--contrast, 1.1))
    ;
    -webkit-backdrop-filter:
        var(--filter)
        blur(var(--blur, 1px))
        saturate(var(--saturation, 1.2))
        contrast(var(--contrast, 1.1))
    ;
}

.LiquidGlassPiece__shadow {
    filter: blur(var(--shadow-blur, var(--zRadius)));
    border:
        var(--drop-shadow-thickness, var(--zRadius))
        solid
        var(--drop-shadow-color, rgb(0, 0, 0, .3));
    transform: translate(
        var(--drop-shadow-offset-x, 0px),
        var(--drop-shadow-offset-y, 15px)
    );
}
