.RoundButton {
    margin: 0;
    padding: 0;
    background: none;
    border: none !important;
    outline: none !important;

    transition: transform 300ms;
}

.RoundButton:hover {
    transform: scale(1.1);
}

.RoundButton:active {
    transform: scale(0.9);
}

.RoundButton__children {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* temp */
    font-size: 32px;
}
